Import pandas library

In [1]:
import pandas as pd

Read dataset with read_csv() method of pandas

In [2]:
df = pd.read_csv('adultdata.csv')

Show the first rows of the dataset

In [3]:
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [5]:
df['race'].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [8]:
avg_age_of_men = df[df['sex'] == 'Male']['age'].mean()
print(avg_age_of_men)

39.43354749885268

What is the percentage of people who have a Bachelor's degree?

In [23]:
df_people_with_bachelors = df[df['education'] == 'Bachelors']
people_with_bachelors = len(df_people_with_bachelors)
total_people = len(df)
print(f"Percentage of people with Bachelors: {people_with_bachelors / total_people * 100:.2f}%")

Percentage of people with Bachelors: 16.45%

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [36]:
df_people_adv_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
df_people_adv_edu_high_salary = df_people_adv_education[df_people_adv_education['salary'] == '>50K']
people_adv_edu = df_people_adv_education.shape[0]
people_adv_edu_high_salary = df_people_adv_edu_high_salary.shape[0]
print(f"Percentage of people with advanced education earning >50K: {people_adv_edu_high_salary/ people_adv_edu * 100:.2f}%")

Percentage of people with advanced education earning >50K: 46.54%

What percentage of people without advanced education make more than 50K?

In [37]:
df_people_not_adv_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
df_people_not_adv_edu_high_salary = df_people_not_adv_education[df_people_not_adv_education['salary'] == '>50K']
people_not_adv_edu = df_people_not_adv_education.shape[0]
people_not_adv_edu_high_salary = df_people_not_adv_edu_high_salary.shape[0]
print(f"Percentage of people without advanced education earning >50K: {people_not_adv_edu_high_salary / people_not_adv_edu * 100:.2f}%")

Percentage of people without advanced education earning >50K: 17.37%

What is the minimum number of hours a person works per week?

In [39]:
min_number_of_hours_per_week = df['hours-per-week'].min()
print(f"Minimum number of hours worked per week: {min_number_of_hours_per_week}")

Minimum number of hours worked per week: 1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [41]:
df_people_work_min_hours = df[df['hours-per-week'] == df['hours-per-week'].min()]
df_people_work_min_hours_high_salary = df_people_work_min_hours[df_people_work_min_hours['salary'] == '>50K']
people_work_min_hours = df_people_work_min_hours.shape[0]
people_work_min_hours_high_salary = df_people_work_min_hours_high_salary.shape[0]
print(f"Percentage of people working minimum hours earning >50K: {people_work_min_hours_high_salary / people_work_min_hours * 100:.2f}%")

Percentage of people working minimum hours earning >50K: 10.00%

What country has the highest percentage of people that earn >50K and what is that percentage?

In [47]:
total_for_country = df.groupby('native-country').size()
df_high_salary = df[df['salary'] == '>50K']
high_salary_per_country = df_high_salary.groupby('native-country').size()
percentage_high_salary = (high_salary_per_country / total_for_country) * 100
country_max = percentage_high_salary.idxmax()
percentage_max = percentage_high_salary.max()
print(f"Country with highest percentage of people earning >50K: {country_max} ({percentage_max:.2f}%)")

Country with highest percentage of people earning >50K: Iran (41.86%)

Identify the most popular occupation for those who earn >50K in India.

In [50]:
df_indian_people_high_salary = df[df['native-country'] == 'India'][df['salary'] == '>50K']
most_popular_occupation = df_indian_people_high_salary['occupation'].mode()[0]
print(f"Most popular occupation for Indians earning >50K: {most_popular_occupation}")

Most popular occupation for Indians earning >50K: Prof-specialty

C:\Users\sergi\AppData\Local\Temp\ipykernel_27988\1830779674.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_indian_people_high_salary = df[df['native-country'] == 'India'][df['salary'] == '>50K']